*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #0099AD;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    box-shadow: #CBC6C6;
}

.header.sticky{
    background-color: #1483D5;
    padding: 20px 100px;
}

.logo{
    display:flex;
    align-items: center;
}

.logo h2{
    color: #ffffff;
}

.header .btn {
    color: #FFFFFF;
    border-radius: 60px;
    text-transform: uppercase;
    background-color: #03cae4;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #03cae4;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.header .btn:hover{
    border: 1px solid #2D8425;
    background: #2D8425;
    transition: 1s;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    z-index:99;
}
nav img{
    width: 50px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #63dcec;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

@media(max-width: 1000px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #CBC6C6;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.pricing {
    margin: auto;
    text-align: center;
    background-color: #fff;
}

.pricing .row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.pricing .pricing-col {
    flex: 0 0 70%;
    max-width: 100%;
    padding: 0 15px;
    align-items: center; 
    text-align: center;
}

.pricing h2 {
    font: bold 50px 'DM Serif Display', serif;
    color: #0099AD;
    margin-bottom: 15px;
    text-align: center;
}

.pricing h3 {
    font: bold 40px 'DM Serif Display', serif;
    margin-bottom: 15px;
    padding-top: 1.5rem;
    text-align: center;
}

.pricing .container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 15px;
    position: relative;
    border-radius: 10px;

}

.pricing-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pricing-column {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border: solid 1px #333;
}

.pricing-header h3 {
    font: 30px 'DM Serif Display', serif;
    color: #0099AD;
    text-align: center;
}

.pricing-header h4 {
    font-size: 16px;
    color: #adadad;
    padding: 10px;
}

.pricing-header h5 {
    font-size: 14px;
    color: #000000;
    text-align: justify;
}

.pricing-list {
    list-style-type: none;
    padding: 0;
}

.pricing-list li {
    padding: 8px 0;
    color: #9b9c9c;
    text-align: justify;
}

.pricing-list .highlight-color1 {
    color: rgb(0, 0, 0);
}

.pricing-footer {
    margin-top: 20px;
}

.pricing-footer p {
    font-size: 18px;
    color: #333;
}

.pricing .btn {
    color: #FFFFFF;
    border-radius: 60px;
    text-transform: uppercase;
    background-color: #03cae4;
    font-weight: 800;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #03cae4;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.pricing .btn:hover {
    border: 1px solid #2D8425;
    background: #2D8425;
    transition: 1s;
}

.btn:hover span {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .service-text {
        padding: 20px;
        flex: 0 0 100%; 
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .service-slide {
        padding: 20px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.footer{
    padding-top: 40px;
    background-color: #0099AD;
    background-size: cover;
    background-position: center;
}

h5{
    font: bold 23px 'Open sans', sans-serif;
    color: #63dcec;
}

li {
    color: rgb(255, 255, 255);
}

.logo a{
    font: bold 15px 'Open sans', sans-serif;
    text-decoration: none;
    font-size: 17px;
    color: #63dcec;
}

p {
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.footer a:hover{
    color: #114d70 !important;
}

i{
    font-size: 25px;
}

.logo a img{
    width: 39px;
    height: 39px;
    object-fit: scale-down;
    color: rgb(255, 255, 255);
}
